[globals]
JWT_SECRET = "demo_jwt_secret_change_me"
PROD_HOST = "https://www.mysite.com"
GOOGLE_ID = "google_oauth_client_id_example"
GOOGLE_SECRET = "google_oauth_client_secret_example"
RESEND_API_KEY = "resend_api_key_example"
TEST_VAR = 12312322
TEST_VAR_2 = 12.2012010
PORT = 8000

[global.local]
MYSQL_ROOT_PASSWORD = "rootpassword123"
MYSQL_USER = "appuser"
MYSQL_PASSWORD = "appuserpass"
MYSQL_DATABASE = "appdb"

[globals.prod]
MYSQL_ROOT_PASSWORD = "prodpassword123"
MYSQL_USER = "appuser"
MYSQL_PASSWORD = "appuserprodpass"
MYSQL_DATABASE = "appdb"

[globals.mongodb.local]
MONGODB_URI = "mongodb://USER:PASSWORD@localhost:27017/myAppDatabase?authSource=admin"

[globals.mongodb.production]
MONGODB_URI = "mongodb://USER:PASSWORD@localhost:27017/myAppDatabase?authSource=admin"

[globals.stripe.test]
STRIPE_PUBLIC_KEY = "stripe_test_public_key_example"
STRIPE_SECRET_KEY = "stripe_test_secret_key_example"
STRIPE_WEBHOOK_SECRET = "stripe_test_webhook_secret_example"

[globals.stripe.live]
STRIPE_PUBLIC_KEY = "stripe_live_public_key_example"
STRIPE_SECRET_KEY = "stripe_live_secret_key_example"
STRIPE_WEBHOOK_SECRET = "stripe_live_webhook_secret_example"

[frontend]
NEXTAUTH_SECRET= "${globals.JWT_SECRET}"
GOOGLE_ID = "${globals.GOOGLE_ID}"
GOOGLE_SECRET = "${globals.GOOGLE_SECRET}"
RESEND_API_KEY = "${globals.RESEND_API_KEY}"

[frontend.local]
NEXTAUTH_URL = "http://localhost:3000"
MONGODB_URI = "${globals.mongodb.local.MONGODB_URI}"
STRIPE_PUBLIC_KEY = "${globals.stripe.test.STRIPE_PUBLIC_KEY}"
STRIPE_SECRET_KEY = "${globals.stripe.test.STRIPE_SECRET_KEY}"
STRIPE_WEBHOOK_SECRET = "${globals.stripe.test.STRIPE_WEBHOOK_SECRET}"
MY_NUMBER = "${globals.TEST_VAR}"
MY_FLOAT = "${globals.TEST_VAR_2}"
MY_ENV_SECRET = "${envs.MY_ENV_SECRET}"
MY_SHELL_VAR = "${`echo HELLO FROM SHELL`}"

[frontend.production]
NEXTAUTH_URL = "${globals.PROD_HOST}"
API_URL= "${globals.PROD_HOST}/api"
MONGODB_URI = "${globals.mongodb.production.MONGODB_URI}"

[backend]
JWT_SECRET = "${globals.JWT_SECRET}"
GOOGLE_ID = "${globals.GOOGLE_ID}"
GOOGLE_SECRET = "${globals.GOOGLE_SECRET}"

[backend.local]
# JWT_SECRET = "AMBARADILLA_LOCAL_JWT_SECRET"
BASE_URL = "http://localhost:8000/api"
FRONTEND_URL = "${frontend.local.NEXTAUTH_URL}"
MONGODB_URI = "${globals.mongodb.local.MONGODB_URI}"
PORTS = [
    "${globals.PORT}", 
    "4000"
]
MYSQL_ROOT_PASSWORD = "${globals.local.MYSQL_ROOT_PASSWORD}"
MYSQL_USER = "${globals.local.MYSQL_USER}"
MYSQL_DATABASE = "${globals.local.MYSQL_DATABASE}"
MYSQL_PASSWORD = "${globals.local.MYSQL_PASSWORD}"

[backend.production]
BASE_URL = "${globals.PROD_HOST}/api"
FRONTEND_URL = "${frontend.local.NEXTAUTH_URL}"
MONGODB_URI = "${globals.mongodb.local.MONGODB_URI}"
MYSQL_ROOT_PASSWORD = "${globals.prod.MYSQL_ROOT_PASSWORD}"
MYSQL_USER = "${globals.prod.MYSQL_USER}"
MYSQL_DATABASE = "${globals.prod.MYSQL_DATABASE}"
MYSQL_PASSWORD = "${globals.prod.MYSQL_PASSWORD}"

# TODO: Would be nice to be handle also this so you can generate docker compose files with envsgen

#! if envs.NODE_ENV == 'local' # Not working just an idea

[docker.services.caddy]
image = "caddy:latest"
restart = "unless-stopped"
cap_add = ["NET_ADMIN"]
ports = ["80:80", "443:443", "443:443/udp"]
volumes = [
  "./conf:/etc/caddy",
  # "$PWD/site:/srv",
  "caddy_data:/data",
  "caddy_config:/config"
]
networks = ["apps"]

[docker.services.mysql]
image = "mysql:8.0"
container_name = "mysql_main"
restart = "always"
ports = ["3306:3306"]
volumes = [ "mysql_data:/var/lib/mysql" ]
networks = ["apps"]

[docker.services.mysql.environment]
MYSQL_ROOT_PASSWORD = "${globals.MYSQL_ROOT_PASSWORD}"
MYSQL_USER = "${globals.MYSQL_USER}"
MYSQL_DATABASE = "${globals.MYSQL_DATABASE}"
MYSQL_PASSWORD = "${globals.MYSQL_PASSWORD}"

[docker.volumes]
caddy_data = ""
caddy_config = ""

[docker.networks.apps]
external = true

#! endif