[shared]
JWT_SECRET = "demo_jwt_secret_change_me"
PROD_HOST = "https://www.mysite.com"
GOOGLE_ID = "google_oauth_client_id_example"
GOOGLE_SECRET = "google_oauth_client_secret_example"
RESEND_API_KEY = "resend_api_key_example"
TEST_VAR = 12312322
TEST_VAR_2 = 12.2012010
PORT = 8000

[shared.mysql.local]
MYSQL_ROOT_PASSWORD = "rootpassword123"
MYSQL_USER = "appuser"
MYSQL_PASSWORD = "appuserpass"
MYSQL_DATABASE = "appdb"

[shared.mysql.prod]
MYSQL_ROOT_PASSWORD = "prodpassword123"
MYSQL_USER = "appuser"
MYSQL_PASSWORD = "appuserprodpass"
MYSQL_DATABASE = "appdb"

[shared.mongodb.local]
MONGODB_URI = "mongodb://USER:PASSWORD@localhost:27017/myAppDatabase?authSource=admin"

[shared.mongodb.production]
MONGODB_URI = "mongodb://USER:PASSWORD@localhost:27017/myAppDatabase?authSource=admin"

[shared.stripe.test]
STRIPE_PUBLIC_KEY = "stripe_test_public_key_example"
STRIPE_SECRET_KEY = "stripe_test_secret_key_example"
STRIPE_WEBHOOK_SECRET = "stripe_test_webhook_secret_example"

[shared.stripe.live]
STRIPE_PUBLIC_KEY = "stripe_live_public_key_example"
STRIPE_SECRET_KEY = "stripe_live_secret_key_example"
STRIPE_WEBHOOK_SECRET = "stripe_live_webhook_secret_example"

[frontend]
NEXTAUTH_SECRET= "${shared.JWT_SECRET}"
GOOGLE_ID = "${shared.GOOGLE_ID}"
GOOGLE_SECRET = "${shared.GOOGLE_SECRET}"
RESEND_API_KEY = "${shared.RESEND_API_KEY}"

[frontend.local]
NEXTAUTH_URL = "http://localhost:3000"
MONGODB_URI = "${shared.mongodb.local.MONGODB_URI}"
STRIPE_PUBLIC_KEY = "${shared.stripe.test.STRIPE_PUBLIC_KEY}"
STRIPE_SECRET_KEY = "${shared.stripe.test.STRIPE_SECRET_KEY}"
STRIPE_WEBHOOK_SECRET = "${shared.stripe.test.STRIPE_WEBHOOK_SECRET}"
MY_NUMBER = "${shared.TEST_VAR}"
MY_FLOAT = "${shared.TEST_VAR_2}"
MY_ENV_SECRET = "${envs.MY_ENV_SECRET}"
MY_SHELL_VAR = "${`echo HELLO FROM SHELL`}"

[frontend.production]
NEXTAUTH_URL = "${shared.PROD_HOST}"
API_URL= "${shared.PROD_HOST}/api"
MONGODB_URI = "${shared.mongodb.production.MONGODB_URI}"

[backend]
JWT_SECRET = "${shared.JWT_SECRET}"
GOOGLE_ID = "${shared.GOOGLE_ID}"
GOOGLE_SECRET = "${shared.GOOGLE_SECRET}"

[backend.local]
# JWT_SECRET = "AMBARADILLA_LOCAL_JWT_SECRET"
BASE_URL = "http://localhost:8000/api"
FRONTEND_URL = "${frontend.local.NEXTAUTH_URL}"
MONGODB_URI = "${shared.mongodb.local.MONGODB_URI}"
PORTS = [
    "${shared.PORT}", 
    "4000"
]
MYSQL_ROOT_PASSWORD = "${shared.mysql.local.MYSQL_ROOT_PASSWORD}"
MYSQL_USER = "${shared.mysql.local.MYSQL_USER}"
MYSQL_DATABASE = "${shared.mysql.local.MYSQL_DATABASE}"
MYSQL_PASSWORD = "${shared.mysql.local.MYSQL_PASSWORD}"

[backend.production]
BASE_URL = "${shared.PROD_HOST}/api"
FRONTEND_URL = "${frontend.local.NEXTAUTH_URL}"
MONGODB_URI = "${shared.mongodb.local.MONGODB_URI}"
MYSQL_ROOT_PASSWORD = "${shared.mysql.prod.MYSQL_ROOT_PASSWORD}"
MYSQL_USER = "${shared.mysql.prod.MYSQL_USER}"
MYSQL_DATABASE = "${shared.mysql.prod.MYSQL_DATABASE}"
MYSQL_PASSWORD = "${shared.mysql.prod.MYSQL_PASSWORD}"

# TODO: Would be nice to be handle also this so you can generate docker compose files with envsgen

#!if envs.NODE_ENV == 'local'

[docker.services.caddy]
image = "caddy:latest"
restart = "unless-stopped"
cap_add = ["NET_ADMIN"]
ports = ["80:80", "443:443", "443:443/udp"]
volumes = [
  "./conf:/etc/caddy",
  # "$PWD/site:/srv",
  "caddy_data:/data",
  "caddy_config:/config"
]
networks = ["apps"]

[docker.services.mysql]
image = "mysql:8.0"
container_name = "mysql_main"
restart = "always"
ports = ["3306:3306"]
volumes = [ "mysql_data:/var/lib/mysql" ]
networks = ["apps"]

[docker.services.mysql.environment]
MYSQL_ROOT_PASSWORD = "${shared.local.MYSQL_ROOT_PASSWORD}"
MYSQL_USER = "${shared.local.MYSQL_USER}"
MYSQL_DATABASE = "${shared.local.MYSQL_DATABASE}"
MYSQL_PASSWORD = "${shared.local.MYSQL_PASSWORD}"

[docker.volumes]
caddy_data = ""
caddy_config = ""

[docker.networks.apps]
external = true

#!endif