[globals]
JWT_SECRET = "demo_jwt_secret_change_me"
PROD_HOST = "https://www.mysite.com"
GOOGLE_ID = "google_oauth_client_id_example"
GOOGLE_SECRET = "google_oauth_client_secret_example"
RESEND_API_KEY = "resend_api_key_example"
TEST_VAR = 12312322
TEST_VAR_2 = 12.2012010

[globals.mongodb.local]
MONGODB_URI = "mongodb://USER:PASSWORD@localhost:27017/myAppDatabase?authSource=admin"

[globals.mongodb.production]
MONGODB_URI = "mongodb://USER:PASSWORD@localhost:27017/myAppDatabase?authSource=admin"

[globals.stripe.test]
STRIPE_PUBLIC_KEY = "stripe_test_public_key_example"
STRIPE_SECRET_KEY = "stripe_test_secret_key_example"
STRIPE_WEBHOOK_SECRET = "stripe_test_webhook_secret_example"

[globals.stripe.live]
STRIPE_PUBLIC_KEY = "stripe_live_public_key_example"
STRIPE_SECRET_KEY = "stripe_live_secret_key_example"
STRIPE_WEBHOOK_SECRET = "stripe_live_webhook_secret_example"

[frontend]
NEXTAUTH_SECRET= "${globals.JWT_SECRET}"
GOOGLE_ID = "${globals.GOOGLE_ID}"
GOOGLE_SECRET = "${globals.GOOGLE_SECRET}"
RESEND_API_KEY = "${globals.RESEND_API_KEY}"

[frontend.local]
NEXTAUTH_URL = "http://localhost:3000"
MONGODB_URI = "${globals.mongodb.local.MONGODB_URI}"
STRIPE_PUBLIC_KEY = "${globals.stripe.test.STRIPE_PUBLIC_KEY}"
STRIPE_SECRET_KEY = "${globals.stripe.test.STRIPE_SECRET_KEY}"
STRIPE_WEBHOOK_SECRET = "${globals.stripe.test.STRIPE_WEBHOOK_SECRET}"
MY_NUMBER = "${globals.TEST_VAR}"
MY_FLOAT = "${globals.TEST_VAR_2}"
MY_ENV_SECRET = "${envs.MY_ENV_SECRET}"
MY_SHELL_VAR = "${`echo HELLO FROM SHELL`}"

[frontend.production]
NEXTAUTH_URL = "${globals.PROD_HOST}"
API_URL= "${globals.PROD_HOST}/api"
MONGODB_URI = "${globals.mongodb.production.MONGODB_URI}"

[backend]
JWT_SECRET = "${globals.JWT_SECRET}"
GOOGLE_ID = "${globals.GOOGLE_ID}"
GOOGLE_SECRET = "${globals.GOOGLE_SECRET}"

[backend.local]
# JWT_SECRET = "AMBARADILLA_LOCAL_JWT_SECRET"
BASE_URL = "http://localhost:8000/api"
FRONTEND_URL = "${frontend.local.NEXTAUTH_URL}"
MONGODB_URI = "${globals.mongodb.local.MONGODB_URI}"

[backend.production]
BASE_URL = "${globals.PROD_HOST}/api"
FRONTEND_URL = "${frontend.local.NEXTAUTH_URL}"
MONGODB_URI = "${globals.mongodb.local.MONGODB_URI}"

# TODO: Would be nice to be handle also this so you can generate docker compose files with envsgen
# [docker.services.caddy]
# image = "caddy:latest"
# restart = "unless-stopped"
# cap_add = ["NET_ADMIN"]
# ports = ["80:80", "443:443", "443:443/udp"]
# volumes = [
#   "$PWD/conf:/etc/caddy",
#   # "$PWD/site:/srv",
#   "caddy_data:/data",
#   "caddy_config:/config"
# ]
# networks = ["apps"]

# [docker.volumes]
# caddy_data = ""
# caddy_config = ""

# [docker.networks]
# apps = { external = true }
